*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}


:root{
    --white: #ffffff;
    --light-blue: #b8e9f5;
    --yellow: #fff6c4;
    --black: #1e1e1e;
}

html body{
    background-color: var(--yellow);
    height: 100vh;
}

div.container{
    max-width: 80%;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    padding: 0;
}


/* PERFIL */

.perfil h1{
    font-family: 'Barlow condensed' ,sans-serif;
    color: var(--black);
    font-weight: 700;
    font-size: 45px;
    padding: 10px 0 20px 0;
}

span{
    color: var(--black);
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}

#fecha{
    color: var(--black);
    padding: 50px 0 5px 0;
}

/* AGREGAR TAREA */

div.agregar-tarea{
    background-color: var(--white);
    border: solid 2px var(--black);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 10px 0 20px 0;
    gap: 70px;
    box-shadow: -4px 4px 0px 0px #1e1e1e;
}

.agregar-tarea input{
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 5px;
    background-color: var(--white);
    font-weight: 500;
    color: var(--black);
}

.agregar-tarea i{
    font-size: 30px;
    color: var(--black);

}

.agregar-tarea i:hover{
    transform: scale(1.2);
    cursor: pointer;
    color: var(--black);
}

.agregar-tarea input::placeholder{
    color: var(--black);
    font-weight: 400;
    font-style: italic;
}

/* SECCION TAREA */

.seccion-tarea h3{
    color: var(--black);
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    padding: 5px
}
.seccion-tarea{
    padding: 15px;
    border: solid 2px var(--black);
    box-shadow: -4px 4px 0px 0px #1e1e1e;
    background-color: var(--white);
}
.seccion-tarea li{
    display: flex;
    background-color: var(--white);
    /* border-radius: 15px; */
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
    border: solid 2px var(--black);
    /* box-shadow: -4px -4px 0px 0px #1e1e1e; */
}

.seccion-tarea i{
    font-size: 25px;
}

.seccion-tarea i:hover{
    transform: scale(1.2);
    cursor: pointer;
    color: var(--black);
}

.seccion-tarea > ul p{
    font-size: 15px;
    font-weight: 500;
    width: fit-content;
    padding: 0 5px;
}

ul#lista{
    padding: 0;
}

p.text{
    margin: 0;
    color: var(--black);
}

p.text.line-trough{
    text-decoration: line-through;
    color: var(--black);
    background-color: var(--grey);
}